.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  justify-content: center;
}
.imgsContianer_img {
  height: 200px;
  width: 200px;
  border-radius: 10px;
  margin: 10px;
}
/* 
.row {
  grid-template-rows: repeat(2, 400px);
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10px;
  row-gap: 15px;
} */
@media only screen and (max-width: 1024px) {
  .imgsContianer_img {
    height: 150px;
    width: 150px;
  }
}
@media only screen and (max-width: 768px) {
  .imgsContianer_img {
    height: 45%;
    width: 45%;
  }
}
@media only screen and (max-width: 600px) {
  .imgsContianer_img {
    height: 42%;
    width: 42%;
  }
}
